p {
    font-size: 16px;
    margin:0;
    padding: 13%;
  }
section{
 width:100%;
 position:relative;
 /* left:50%; */
 display: flex;
 align-items: center;
 height:50vh;
}

.part1,.part6{
    background-color: #8D53a6;
    color:white;
    /* padding: 20%; */
  
}
.part2, .part7{
    background-color: #020540;
    color:white;
}
.part3, .part8{
    background-color: #F2e269;
}
.part4, .part9{
    background-color: #F2B705;
}
.part5, .part10{
    background-color: #F28080;
    color:white;
}


/* .part1>div{
    padding: 20px;
    position: relative;
    top: 35%;
    right: -8px;
    text-align: right;
    color:white;
}

.part2>div{
    padding: 20px;
    padding-top:38px;
    color:white;

}

.part3>div{
    padding: 20px;
    position: relative;
    top:44%;
}

.part4>div{
    padding: 20px;
    position: relative;
    top: 35%;
    right: -8px;
    text-align: right;
}

.part5>div{
    padding: 20px;
    padding-top:38px;
    color:white;
}

section{
    height:100vh;
   
}
{
     div > p{
        font-size:14px;   
    }
    .part1>div,.part4>div{
        float:right;
    }
    div{
        width:500px;
    }
    
} */
@media only screen and (min-width:768px){
    section{
        left:50%;
        width:50%;
        height:100vh;
    }
    p{
        font-size:26px;
    }
}
