 <section class="part1">
    <div>
      <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with </p>
    </div>
  </section>

  <section class="part2">
    <div>
      <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with </p>
    </div>
  </section>

  <section class="part3">
    <div>
      <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with </p>
    </div>
  </section>

  <section class="part4">
    <div>
      <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with </p>
    </div>
  </section>

  <section class="part5">
    <div>
      <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with </p>
    </div>
  </section>
