<!--  
 <section  class="part1">
   <div>
      <p>The sun was blazing bright on an early Saturday morning. My best friend Braylin and I decided to go on a road trip to discover some hidden gems. Even though we only had enough money for a one day trip, we managed to stay on the road for days. My parents went on a vacation to Montego Bay and left the keys to their drop top coupe, so we took the car because we wanted to ride out in style. I hope they don’t read this story because they have no clue about our impromptu excursion. </p>
    </div>
  </section>

  <section class="part2">
    <div>
      <p>Of course our dogs, Daisy and Duke, had to join us. What’s a trip without your fur babies, right? Our trip needed to consist of three main things: good food, content for our Instagram pages, and stores to shop in. Otherwise, we would be wasting our time. We hoped in the siren-red two-door car and began our mini adventure. Khalid blared through the speakers and shades covered our eyes from the beaming sun rays. After hours spent on the highway, we noticed a sign that practically yelled “1 Day Yoga Retreat, Remain Stress Free” in bold letters.</p>
    </div>
  </section>

  <section class="part3">
    <div>
      <p>Everyone has what I like to call a “Zen-Friend”. They exude positivity, love Yankee Candles, and indulge in pilates twice a week. Yes, that is indeed Braylin. As her smile widened from excitement, she demanded that we “needed to heighten our inner peace” and the dogs barked in agreement. I took the next exit to what looked like a psychedelic shack. It was covered in bold and radiant colors like hot pink and yellow. We entered the building and immediately the smell of eucalyptus and mint leaves flowed through my body. </p>
    </div>
  </section>

  <section class="part4">
    <div>
      <p>Despite my hesitation, I can admit that I felt more transformed in one day than I did during my entire high school and college experience combined. The next day, after our mini Eat, Pray, Love excerpt, we were back on the road. Our next stop was the Instagram approved Museum for Millenials. It was a room full of different photo-worthy backgrounds that we would deliberately use to make it seem like we were international travelers. We went to the Louvre, saw Drake in concert in London, and shopped in Milan in one hour.</p>
    </div>
  </section>

  <section class="part5">
    <div>
      <p>All of a sudden, I heard a phone ring and when I realized it was my mom, I immediately threw my phone at Braylin and told her to tell my mom that I was in the bathroom. I was worried that she would hear the lie in my voice and prove my theory of all moms having telepathic senses to be true. Braylin tossed the phone back my way and she was instantly demoted from being my best friend to just a girl on a road trip with me. I accidentally answered the phone and my mom demanded that I come down for breakfast and take Daisy outside. At that very moment, I realized it was all a dream!</p>
    </div>
  </section> -->
