<div class="main-background">
  <section class="main">
    <h1>Let the Adventure Begin</h1>

    <img src="assets\images\worldmap.svg" />

    <form #userInput="ngForm" (ngSubmit)="analyzeUserData(userInput)">
      <!-- <label for=""></label> -->
      <!-- <textarea
        cols="30"
        rows="5"
        ngModel
        name="textInput"
        placeholder="Tell us about your trip to Grand Circus..."
        maxlength="250"
        *ngIf="show"
      ></textarea> -->

      <textarea
        cols="30"
        rows="5"
        (keyup)="count(usermsg)"
        [(ngModel)]="usermsg"
        ngModel
        name="textInput"
        placeholder="Tell us about your trip to Grand Circus..."
        *ngIf="show"
      >
      </textarea>
      <p *ngIf="show" class="characters">{{ characterAlert }}</p>

      <button *ngIf="show">Let's go!</button>
      <div class="lds-roller" *ngIf="loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </form>
  </section>
</div>
<app-joy-suprise *ngIf="showJoySurprise"></app-joy-suprise>
<app-sadness-fear *ngIf="showSadnessFear"></app-sadness-fear>
<app-anger-disgust *ngIf="showAngerDisgust"></app-anger-disgust>
