section{
    display: flex;  
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #d1edfa;
    
}
 h1,textarea,button,form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    position: relative;
    top:105px;
    height:300px;
    width:300px;
}


