<section class="main">
  <h1>Title</h1>
  <form #userInput="ngForm" (ngSubmit)="analyzeUserData(userInput)">
    <textarea cols="30" rows="10" ngModel name="textInput"></textarea>
    <button>Let's go</button>
  </form>

  <!-- updated where this image was stored -->
  <!-- <img src="../../assets/worldmap.svg" height="auto" width="400px" /> -->
</section>

<img src="../../assets/plane.svg" alt="" class="plane">

<!-- <section class="part1">
    <div>
      <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with </p>
    </div>
  </section>

  <section class="part2">
    <div>
      <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with </p>
    </div>
  </section>

  <section class="part3">
    <div>
      <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with </p>
    </div>
  </section>

  <section class="part4">
    <div>
      <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with </p>
    </div>
  </section>

  <section class="part5">
    <div>
      <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with </p>
    </div>
  </section> -->

<!-- <section class="fear1">
      <div>
          <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with </p>
        </div>
  </section>

  <section class="fear2">
      <div>
          <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with </p>
        </div>
  </section>

  <section class="fear3">
      <div>
          <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with </p>
        </div>
  </section>

  <section class="fear4">
      <div>
          <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with </p>
        </div>
  </section>

  <section class="fear5">
      <div>
          <p>Lorem Ipsum is simply dummy text of the printing and ty leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with </p>
        </div>
  </section> -->

<section class="anger1">
  <div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and ty leap into
      electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with
    </p>
  </div>
</section>

<section class="anger2">
  <div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and ty leap into
      electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with
    </p>
    <img src="../../assets/plane.svg" alt="" data-aos="fade-up-right" data-aos-duration="3000" class="plane">
  </div>
</section>

<section class="anger3">
  <div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and ty leap into
      electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with
    </p>
  </div>
</section>
<section class="anger4">
  <div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and ty leap into
      electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with
    </p>
  </div>
</section>

<section class="anger5">
  <div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and ty leap into
      electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with
    </p>
  </div>
</section>
