<div class="main-background">
  <section class="main">
    <h1>Title</h1>

    <img src="assets\images\worldmap.svg" />

    <form #userInput="ngForm" (ngSubmit)="analyzeUserData(userInput)">
      <textarea cols="30" rows="5" ngModel name="textInput"></textarea>
      <button>Let's go</button>
    </form>
  </section>
</div>
<app-joy-suprise *ngIf="showJoySurprise"></app-joy-suprise>
<app-sadness-fear *ngIf="showSadnessFear"></app-sadness-fear>
<app-anger-disgust *ngIf="showAngerDisgust"></app-anger-disgust>
