/* Mobile Version */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
}
.main-background {
  width: 100%;
  height: 100vh;
  background-color: #d1edfa;
  overflow-y:hidden;
}
form {
  margin-bottom: 20%;
}
h1,
textarea,
button,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: "Crimson Text", serif;
  font-size: 2em;
}
img {
  width: 82%;
  margin: 11px;
}
textarea,
form {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}
.characters {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  margin: 4px 0;
  color: black;
}
button {
  background-color: #59b9e4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
}
button:hover {
  border-radius: 20px;
}
/* loading spinner styling */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #65b961;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width:481px){
  img{
    width: 55%;
  }
}

/* Tablet Version */
@media only screen and (min-width:768px){
  img{
    width:56%;
  }
}

/* Desktop Version */
@media only screen and (min-width: 992px) {
  textarea {
    margin-top: 3%;
    width: 147%;
    font-size: 1.2em;
  }
  form {
    margin-bottom: 5%;
  }
  h1 {
    font-size: 3em;
    margin-top: 18px;
  }
  button {
    font-size: 1.2em;
  }
 img{
   width:47%;
 }
}
