<div class="horizontal_scroll">
  <section class="fear1">
    <p>
      The night was <span class="fearspan1">cold and dreary</span>. I arrived to the island of Kathmandu with
      hopes of meeting my travel companion for an exciting excursion. Johnny and
      I were <span class="fearspan1">planning to hike</span> through lush green trees and bushes to the top of
      a well-known mountain.
    </p>
  </section>

  <section class="fear2">
    <p>
      I usually don’t travel to remote islands <span class="fearspan2">alone</span>, but I decided to take the
      risk. I spent the night meeting the people of the town. Everything was
      going well until <span class="fearspan2">I was dared to eat a chocolate covered grasshopper</span>.
    </p>
  </section>

  <section class="fear3">
    <p>
      While I admire Guy Fieri’s fearlessness to eat <span class="fearspan3">chicken toes and lizard arms</span>, I was not up for the challenge at all. However, I didn’t want to
      seem like a scaredy cat in front of my new friends, so I obliged. <span class="fearspan3">I closed my eyes in despair and chewed.</span>
    </p>
  </section>

  <section class="fear4">
    <p>
      As I felt the bugs’ stiff <span class="fearspan4">legs crunch in my mouth</span>, I imagined that it was a handful of fresh, crispy fries from McDonald’s. Laughs echoed from the crowd as they witnessessed the expression of <span class="fearspan4">disgust</span> cover my face. Don’t eat grasshoppers in any way, shape, or form, I beg of you! Suddenly, the loud voices began to fade slowly.
    </p>
  </section>

  <section class="fear5">
    <p>
      I opened my eyes and saw <span class="fearspan5">lightning bolts sketch the dark, black sky.</span> Everyone scattered in different directions. If you’re from Kathmandu, you
      know when it rains, it pours. As a visitor, I apparently didn’t get the
      memo. <span class="fearspan5">A thunderous cloud stood above my head and released a monsoon.</span>
    </p>
  </section>

  <section class="fear6">
    <p>
      I <span class="fearspan6">frantically sprinted</span> towards the nearest place of shelter. The heavy wind blew so hard that it formed a blurry cast over my eyes. I felt like I was Tom Hanks in a scene from Cast Away. Out of nowhere, I saw <span class="fearspan6">dimmed headlights approaching me.</span> It was an old man driving a rickshaw.
    </p>
  </section>

  <section class="fear7">
    <p>
      How he managed to drive through this <span class="fearspan7">treacherous weather</span> was beyond me. Honestly, I didn’t care because I just wanted help, even if it was from a
      <span class="fearspan7">stranger.</span> So I hopped on the rundown ride and proceeded to tell the driver where I stayed. He didn’t speak any English and could barely hear a word that I was saying.
    </p>
  </section>

  <section class="fear8">
    <p>
      Frustratingly, I had no choice but to rely on my expert skills in
      Guesstures. After about 5 minutes of <span class="fearspan8">intense acting</span>, I had an epiphany! I remembered grabbing a card from the front desk of the hotel that I was staying at. I dug into my <span class="fearspan8">wet pockets</span> and pulled out the limp card.
    </p>
  </section>

  <section class="fear9">
    <p>
      As soon as I showed him the card, he <span class="fearspan9">smiled and nodded</span> his head. I assumed that he knew the location of the hotel and I felt a sigh of relief. For an old guy, he was <span class="fearspan9">peddling quite fast</span>. I made it to my room in less than 15
      minutes.
    </p>
  </section>

  <section class="fear10">
    <p>
      The next day, Johnny called me and said that his cat, Snuggles, got stuck
      on his roof and he couldn’t make it to the trip. <span class="fearspan10">I blame the downfall of this trip on the grasshopper!</span> In total anguish, I refused to stay on the island for another day. I decided to pack my bags and head back home to
      play Guesstures with my family.
    </p>
  </section>
</div>
