/* Mobile Version */
.material-icons {
  cursor: pointer;
}

div.home_icon {
  position: relative;
  left: 35%;
  font-size: 2em;
  cursor: pointer;
}
/* animation sizing */
.one,
.two,
.three,
.four,
.five,
.seven,
.nine {
  height: 30%;
}
.one {
  height: 38%;
}
.two {
  height: 42%;
}
.three {
  padding-right: 20px;
}
.six {
  height: 25%;
  padding-right: 30px;
}
.eight {
  height: 18%;
  padding-top: 100px;
}
.nine {
  padding-top: 80px;
}
.ten {
  height: 25%;
}
.content {
  height: 50vh;
}
.fear1,
.fear2,
.fear3,
.fear4,
.fear5,
.fear6,
.fear7,
.fear8,
.fear9,
.fear10 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* Horizontal scroll */
.horizontal_scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
section {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex: 0 0 auto;
}

/* styling for each section */
.fearspan1,
.fearspan6 {
  font-family: "Crimson Text", serif;
  font-size: 1.4em;
  background-color: #e3d597;
  color: #4f8069;
}
.fearspan2,
.fearspan7 {
  font-family: "Crimson Text", serif;
  font-size: 1.4em;
  background-color: #3f5cba;
  color: #e3d597;
}
.fearspan3,
.fearspan8 {
  font-family: "Crimson Text", serif;
  font-size: 1.4em;
  background-color: #e3d597;
  color: #3f5cba;
}
.fearspan4,
.fearspan9 {
  font-family: "Crimson Text", serif;
  font-size: 1.4em;
  background-color: #b8e63d;
  color: #4c8012;
}
.fearspan5,
.fearspan10 {
  font-family: "Crimson Text", serif;
  font-size: 1.4em;
  background-color: #4f8069;
  color: #b8e63d;
}
p {
  margin: 0;
  padding: 13%;
}

/* styling highlighted text */
.fear1,
.fear6 {
  background-color: #4f8069;
  color: white;
}
.fear2,
.fear7 {
  background-color: #e3d597;
}
.fear3,
.fear8 {
  background-color: #3f5cba;
  color: white;
}
.fear4,
.fear9 {
  background-color: #4c8012;
  color: white;
}
.fear5,
.fear10 {
  background-color: #b8e63d;
}

/* styling for arrow buttons */
.fa-angle-right {
  padding-right: 10px;
}
.fa-angle-left {
  padding-left: 10px;
}

/* Tablet Version */
@media only screen and (min-width: 768px) {
  p {
    font-size: 20px;
  }
}

/* Desktop Version */
@media only screen and (min-width: 992px) {
  p {
    font-size: 26px;
  }

  /* changing scroll to vertical */
  .horizontal_scroll {
    flex-direction: column;
    overflow-x: hidden;
  }
  .fas {
    transform: rotate(90deg);
  }
  .fa-angle-right,
  .fa-angle-left {
    padding: 20px;
  }
  .content {
    width: 60vw;
  }
  .fear1,
  .fear2,
  .fear3,
  .fear4,
  .fear5,
  .fear6,
  .fear7,
  .fear8,
  .fear9,
  .fear10 {
    flex-direction: row;
    justify-content: space-between;
  }
  .material-icons {
    position: absolute;
    top: 75%;
    right: 80%;
  }
  /* animation sizing */
  .img-animation {
    margin: auto;
  }
  .one,
  .two,
  .three,
  .four,
  .five,
  .seven,
  .nine {
    height: 40%;
  }
  .one {
    height: 48%;
    padding-bottom: 40px;
  }
  .two {
    height: 52%;
    padding-bottom: 100px;
  }
  .six {
    height: 35%;
  }
  .eight {
    height: 28%;
    padding-top: 0;
  }
  .nine {
    padding-top: 0;
  }
  .ten {
    height: 35%;
    margin:1%;
  }
  div.home_icon {
    position: absolute;
    left: 94%;
    top: 90%;
    transform: rotate(-90deg);
  }
  
}