/* Mobile Version */
.content {
  height: 50vh;
}
.fear1, .fear2, .fear3, .fear4, .fear5, .fear6, .fear7, .fear8, .fear9, .fear10 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* Horizontal scroll */
.horizontal_scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
section {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex: 0 0 auto;
}
/* styling for each section */
.fearspan1,
.fearspan6 {
  font-family: "Crimson Text", serif;
  font-size: 1.4em;
  background-color: #e3d597;
  color: #4f8069;
}
.fearspan2,
.fearspan7 {
  font-family: "Crimson Text", serif;
  font-size: 1.4em;
  background-color: #293b75;
  color: #e3d597;
}
.fearspan3,
.fearspan8 {
  font-family: "Crimson Text", serif;
  font-size: 1.4em;
  background-color: #e3d597;
  color: #293b75;
}
.fearspan4,
.fearspan9 {
  font-family: "Crimson Text", serif;
  font-size: 1.4em;
  background-color: #b8e63d;
  color: #334011;
}
.fearspan5,
.fearspan10 {
  font-family: "Crimson Text", serif;
  font-size: 1.4em;
  background-color: #4f8069;
  color: #b8e63d;
}
p {
  margin: 0;
  padding: 13%;
}
/* styling highlighted text */
.fear1,
.fear6 {
  background-color: #4f8069;
  color: white;
}
.fear2,
.fear7 {
  background-color: #e3d597;
}
.fear3,
.fear8 {
  background-color: #293b75;
  color: white;
}
.fear4,
.fear9 {
  background-color: #334011;
  color: white;
}
.fear5,
.fear10 {
  background-color: #b8e63d;
}
/* styling for arrow buttons */
.fa-angle-right {
  padding-right: 10px;
}
.fa-angle-left {
  padding-left: 10px;
}
/* Desktop Version */
@media only screen and (min-width: 768px) {
  p {
    font-size: 26px;
  }
  /* gradient background */
  div {
    height: 1000vh;
    /* background-image: linear-gradient(
      #4f8069,
      #e3d597,
      #293b75,
      #334011,
      #b8e63d,
      #4f8069,
      #e3d597,
      #293b75,
      #334011,
      #b8e63d
    ); */
  }
  /* changing scroll to vertical */
  .horizontal_scroll {
    flex-direction: column;
  }
  .fas {
    transform: rotate(90deg);
  }
  .fa-angle-right, .fa-angle-left {
    padding: 20px;
  }
  .content {
    width: 60vw;
  }
  .fear1, .fear2, .fear3, .fear4, .fear5, .fear6, .fear7, .fear8, .fear9, .fear10 {
    flex-direction: row;
    justify-content: space-between;
  }
  p {
    padding: 10%;
  }
}
