<div class="horizontal_scroll">
<section class="fear1">
    
        <p>The night was cold and dreary. I arrived to the island of Kathmandu with hopes of meeting my travel companion for an exciting excursion. Johnny and I were planning to hike through lush green trees and bushes to the top of a well-known mountain.  </p>
     
</section>

<section class="fear2">
    
        <p> 
            I usually don’t travel to remote islands alone, but I decided to take the risk. I spent the night meeting the people of the town. Everything was going well until I was dared to eat a chocolate covered grasshopper.
        </p>
   
</section>

<section class="fear3">
   
        <p>While I admire Guy Fieri’s fearlessness to eat chicken toes and lizard arms, I was not up for the challenge at all. However, I didn’t want to seem like a scaredy cat in front of my new friends, so I obliged. I closed my eyes in despair and chewed. 
            </p>
     
</section>

<section class="fear4">
   
        <p>
            As I felt the bugs’ stiff legs crunch in my mouth, I imagined that it was a handful of fresh, crispy fries from McDonald’s. Laughs echoed from the crowd as they witnessessed the expression of disgust cover my face. Don’t eat grasshoppers in any way, shape, or form, I beg of you! Suddenly, the loud voices began to fade slowly. 
        </p>
   
</section>

<section class="fear5">
    
        <p>I opened my eyes and saw lightning bolts sketch the dark, black sky. Everyone scattered in different directions. If you’re from Kathmandu, you know when it rains, it pours. As a visitor, I apparently didn’t get the memo. A thunderous cloud stood above my head and released a monsoon.  </p>
      
</section>

<section class="fear6">
    
        <p>
            I frantically sprinted towards the nearest place of shelter. The heavy wind blew so hard that it formed a blurry cast over my eyes. I felt like I was Tom Hanks in a scene from Cast Away. Out of nowhere, I saw dimmed headlights approaching me. It was an old man driving a rickshaw.
        </p>
    
</section>

<section class="fear7">
    
        <p>How he managed to drive through this treacherous weather was beyond me. Honestly, I didn’t care because I just wanted help, even if it was from a stranger. So I hopped on the rundown ride and proceeded to tell the driver where I stayed. He didn’t speak any English and could barely hear a word that I was saying. 
            </p>
     
</section>

<section class="fear8">
    
        <p>
            Frustratingly, I had no choice but to rely on my expert skills in Guesstures. After about 5 minutes of intense acting, I had an epiphany! I remembered grabbing a card from the front desk of the hotel that I was staying at. I dug into my wet pockets and pulled out the limp card. 
        </p>
   
</section>

<section class="fear9">
  
        <p>As soon as I showed him the card, he smiled and nodded his head. I assumed that he knew the location of the hotel and I felt a sigh of relief. For an old guy, he was peddling quite fast. I made it to my room in less than 15 minutes.
            </p>
    
</section>

<section class="fear10">
   
        <p>
            The next day, Johnny called me and said that his cat, Snuggles, got stuck on his roof and he couldn’t make it to the trip. I blame the downfall of this trip on the grasshopper! In total anguish, I refused to stay on the island for another day. I decided to pack my bags and head back home to play Guesstures with my family.
        </p>
    
</section>
</div>