/* You can add global styles to this file, and also import other style files */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import '~@ngx-share/button/themes/default/default-theme';
body{
    font-family: 'Open Sans', sans-serif;
    margin:0; 
}
html{
    scroll-behavior: smooth;
}

