<div class="horizontal_scroll">
  <section class="part1" #part_1>
    <p data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
      The <span class="joyspan1">sun was blazing bright</span> on an early Saturday morning. My best friend Braylin and
      I <span class="joyspan1">decided to go on a road trip</span> to discover some hidden gems. Even though we only had
      enough money for a one day trip, we managed to stay on the road for days.
    </p>
    <div (click)="scroll(part_2)">
      <i class="fas fa-angle-right"></i>
    </div>
  </section>

  <section class="part2" #part_2>
    <div (click)="scroll(part_1)">
      <i class="fas fa-angle-left"></i>
    </div>
    <p data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
      My parents went on a vacation to Montego Bay and <span class="joyspan2">left the keys to their drop top
        coupe</span>, so we took the car because we wanted to <span class="joyspan2">ride out in style</span>. I hope
      they don’t read this story because they have no clue about our impromptu excursion...
    </p>
    <div (click)="scroll(part_3)">
      <i class="fas fa-angle-right"></i>
    </div>
  </section>

  <section class="part3" #part_3>
    <div (click)="scroll(part_2)">
      <i class="fas fa-angle-left"></i></div>
    <p data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
      Of course our dogs, Daisy and Duke, had to join us. What’s a trip without your fur babies, right? <span
        class="joyspan3">Our trip needed to consist of three main things:</span> good food, content for our Instagram
      pages, and stores to shop in. Otherwise, we would be wasting our time.
    </p>
    <div (click)="scroll(part_4)">
      <i class="fas fa-angle-right"></i>
    </div>
  </section>

  <section class="part4" #part_4>
    <div (click)="scroll(part_3)">
      <i class="fas fa-angle-left"></i></div>
    <p data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
      We hopped in the siren-red two-door car and <span class="joyspan4">began our mini adventure</span>. Khalid blared
      through the speakers and shades covered our eyes from the beaming sun rays. After hours spent on the highway, we
      noticed a sign that practically yelled <span class="joyspan4">“One Day Yoga Retreat, Remain Stress Free”</span> in
      bold letters.
    </p>
    <div (click)="scroll(part_5)">
      <i class="fas fa-angle-right"></i>
    </div>
  </section>

  <section class="part5" #part_5>
    <div (click)="scroll(part_4)">
      <i class="fas fa-angle-left"></i></div>
    <p data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
      Everyone has what I like to call a “Zen-Friend”. They exude positivity, love Yankee Candles, and indulge in
      pilates twice a week. Yes, that is indeed Braylin. <span class="joyspan5">As her smile widened from
        excitement</span>, she demanded that we “needed to heighten our inner peace” and the dogs barked in agreement.
    </p>
    <div (click)="scroll(part_6)">
      <i class="fas fa-angle-right"></i>
    </div>
  </section>

  <section class="part6" #part_6>
    <div (click)="scroll(part_5)">
      <i class="fas fa-angle-left"></i></div>
    <p data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
      I took the next exit to what looked like a <span class="joyspan6">psychedelic shack</span>. It was covered in bold
      and radiant colors like hot pink and yellow. We entered the building and immediately the smell of <span
        class="joyspan6">eucalyptus and mint leaves</span> flowed through my body.
    </p>
    <div (click)="scroll(part_7)">
      <i class="fas fa-angle-right"></i>
    </div>
  </section>

  <section class="part7" #part_7>
    <div (click)="scroll(part_6)">
      <i class="fas fa-angle-left"></i></div>
    <p data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
      Despite my hesitation, I can admit that I felt more <span class="joyspan7">transformed</span> in one day than I
      did during my entire high school and college experience combined. The next day, after our mini Eat, Pray, Love
      excerpt, we were <span class="joyspan7">back on the road</span>.
    </p>
    <div (click)="scroll(part_8)">
      <i class="fas fa-angle-right"></i>
    </div>
  </section>

  <section class="part8" #part_8>
    <div (click)="scroll(part_7)">
      <i class="fas fa-angle-left"></i></div>
    <p data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
      Our next stop was the Instagram approved <span class="joyspan8">Museum for Millenials</span>. It was a room full
      of different photo-worthy backgrounds that we would deliberately use to make it seem like we were <span
        class="joyspan8">international travelers</span>. We went to the Louvre, saw Drake in concert in London, and
      shopped in Milan in one hour.
    </p>
    <div (click)="scroll(part_9)">
      <i class="fas fa-angle-right"></i>
    </div>
  </section>

  <section class="part9" #part_9>
    <div (click)="scroll(part_8)">
      <i class="fas fa-angle-left"></i></div>
    <p data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
      All of a sudden, <span class="joyspan9">I heard a phone ring</span> and when I realized it was my mom, I
      immediately threw my phone at Braylin and told her to tell my mom that I was in the bathroom. I was worried that
      she would hear the lie in my voice and prove my theory of all moms having <span class="joyspan9">telepathic
        senses</span> to be true.
    </p>
    <div (click)="scroll(part_10)">
      <i class="fas fa-angle-right"></i>
    </div>
  </section>

  <section class="part10" #part_10>
    <div (click)="scroll(part_9)">
      <i class="fas fa-angle-left"></i></div>
    <p data-aos="fade-left" data-aos-duration="3000" data-aos-delay="200">
      Braylin tossed the phone back my way and <span class="joyspan10">she was instantly demoted</span> from being my
      best friend to just a girl on a road trip with me. I accidentally answered the phone and my mom demanded that I
      come down for breakfast and take Daisy outside. At that very moment, I realized <span class="joyspan10">it was all
        a dream</span>!
    </p>
  </section>
</div>