/* Mobile Version */
.home_icon {
  position: relative;
  left: 35%;
  font-size: 2em;
  cursor: pointer;
}
.material-icons {
  cursor: pointer;
}

/* animation sizing */
.one,
.three,
.six,
.nine {
  height: 30%;
}
.two,
.four {
  height: 26%;
}
.six {
  padding-right: 70px;
  padding-bottom: 100px;
}
.seven {
  height: 42%;
}
.eight {
  height: 40%;
}
.ten {
  height: 25%;
}
.five {
  height: 30%;
  animation-name: yoga;
  animation-duration: 3s;
  position: relative;
  animation-iteration-count: 10;
}
/* animating yogo */
@keyframes yoga {
  0% {
    top: 0px;
  }
  25% {
    top: 15px;
  }
  50% {
    top: 40px;
  }
  75% {
    top: 15px;
  }
  100% {
    top: 0px;
  }
}
.content {
  height: 50vh;
}
.part1,
.part2,
.part3,
.part4,
.part5,
.part6,
.part7,
.part8,
.part9,
.part10 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Horizontal scroll */
.horizontal_scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
section {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex: 0 0 auto;
}

/* styling for joy-surprise sections */
.joyspan1,
.joyspan6 {
  font-family: "Caveat", cursive;
  font-size: 1.8em;
  background-color: #020540;
  color: #8d53a6;
}
.joyspan2,
.joyspan7 {
  font-family: "Caveat", cursive;
  font-size: 1.8em;
  background-color: #f2e269;
  color: #020540;
}
.joyspan3,
.joyspan8 {
  font-family: "Caveat", cursive;
  font-size: 1.8em;
  background-color: #f2b705;
  color: black;
}
.joyspan4,
.joyspan9 {
  font-family: "Caveat", cursive;
  font-size: 1.8em;
  background-color: #f28080;
  color: white;
}
.joyspan5,
.joyspan10 {
  font-family: "Caveat", cursive;
  font-size: 1.8em;
  background-color: #8d53a6;
  color: white;
}
p {
  margin: 0;
  padding: 13%;
}

/* styling highlighted text */
.part1,
.part6 {
  background-color: #8d53a6;
  color: white;
}
.part2,
.part7 {
  background-color: #8d91dd;
  color: white;
}
.part3,
.part8 {
  background-color: #f2e269;
}
.part4,
.part9 {
  background-color: #f2b705;
}
.part5,
.part10 {
  background-color: #f28080;
  color: white;
}

/* styling for arrow buttons */
.arrow {
  padding: 10px;
  font-size: 32px;
}

/* Tablet Version */
@media only screen and (min-width: 768px) {
  p {
    font-size: 20px;
  }
  .home_icon {
    position: absolute;
    left: 94%;
    top: 90%;
    color:black;
  }
}

/* Desktop Version */
@media only screen and (min-width: 992px) {
  p {
    font-size: 24px;
  }

  /* changing scroll to vertical */
  .horizontal_scroll {
    flex-direction: column;
    overflow-x: hidden;
  }
  .arrow {
    transform: rotate(90deg);
    padding: 20px;
  }
  .content {
    width: 60vw;
  }
  .part1,
  .part2,
  .part3,
  .part4,
  .part5,
  .part6,
  .part7,
  .part8,
  .part9,
  .part10 {
    flex-direction: row;
    justify-content: space-between;
  }
  .speaker {
    position: absolute;
    top: 75%;
    right: 80%;
  }
  /* animation sizing */
  .img-animation {
    margin: auto;
  }
  .one,
  .three,
  .five,
  .six,
  .eight{
    height: 40%;
  }
  .two,.four, .nine, .ten{
    height:32%;
  }
  .seven {
    height: 52%;
  }
  .eight {
    padding-bottom: 40px;
  }
  .ten{
    margin:4%;
  }

  share-buttons{
    position: absolute;
    bottom: 11%;
    right: 8%;
  }
}
@media only screen and (min-width:1141px){
  share-buttons{
    bottom: 11%;
    right: 16%;
  }
  .two{
    height:40%
  }
  .ten{
    margin:auto;
  }
}
@media only screen and (min-width:1504px){
  share-buttons{
    bottom: 11%;
    right: 21%;
  }
}